extends layout

block content

  if (error)
    div(class="error") #{error} #{maximumNumberOfFights}

  form(action="/fight" method="GET")
    input(type="number" name="numberOfFights" required="true" placeholder="Number of fights (1-"+maximumNumberOfFights+")")
    input(type="submit" label="Go!")