extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class="error")= error

  form(action="/fight" method="GET")
    input(type="number" name="numberOfFights" required="true" placeholder="Number of fights (1-100)")
    input(type="submit" label="Go!")